h1 {
    color: brown;
}
.header{
   background-color:#0000ff;
   display:flex;
   justify-content:space-between;
}
.grid{
    display:flex;
    flex-wrap:wrap;
    background-color:#00ff00;
}
.footer{
    display:flex;
    justify-content:flex-end;
}
p.h2{
    text-align:center;
}
.item{
    display:flex;
    flex-wrap:wrap;
    background-color:#002366;
    }